<header>
	<ul>
	<li><%= link_to image_tag('left.png'), members_cfg_path %></li>
	<li>ヘルプ</li>
</header>
<main class=container>
	<h2 style="font-family: 'Hannotate SC',sans-serif;">
		＜アプリの使い方＞
	</h2>
	<div class="hp">
		<h3>1. 予定の登録</h3>
		<p>
			カレンダーページでは基本的に青い下線のある文字とヘッダーの中がタップ可能です。<br>
			まず、何も予定の入ってない番号をタップします。<br>
			<img src="/assets/page1.png" style="width:70%;"><br>
			すると、カテゴリ選択ページが出てきます。練習の文字をタップすればカテゴリの変更が可能です。<br>
			＊補足：カテゴリは<span style="background-color: yellow;opacity: 0.5;">練習</span>,<span style="background-color: lightgreen;opacity: 0.5;">連絡</span>,<span style="background-color: red;opacity: 0.5;">なしに変更</span>,<span style="background-color: lightblue;opacity: 0.5;">その他</span>,<span style="color: gray;">選択なし</span>の５つがあり、カレンダーで色別に確認することができます。<br>
			また、追加も可能ですので追加したい場合はユーミンにお伝えください。
			カテゴリを選択したら登録ボタンを押します。<br>
			(真ん中を押さないと反応しない時があります)<br>
			<img src="/assets/page2.png" style="width:70%;"><br>
			これで予定の登録は完了です。<br>
			カレンダーに、ラベルと現在の参加人数が表示されます。<br>
			<img src="/assets/page3.png" style="width:70%;">
		</p>
	</div>
	<div class="hp">
		<h3>2. 予定に参加する</h3>
		<p>
			予定が登録されたら、次はそれに参加していきます。<br>
			カレンダーページの色のラベルがついた日にちをタップします。<br>
			すると、連絡事項と「参加する」ボタンが出てきます。<br>
			「参加する」ボタンをタップすると名前と書いた入力ボックスが出てきます。<br>
			自分の名前を入力して登録を押せばその日の予定に参加することができます。<br>
			<img src="/assets/page4.png" style="width:70%;"><br>
		</p>
	</div>
	<div class="hp">
		<h3>3. 連絡事項の追加とカテゴリ変更</h3>
		<p>
			連絡事項の追加は先ほどの連絡事項の[なし]と書いてあるところをタップします。<br>
			そうすると、編集ページが出てくるのでタイトルと内容を入れます。<br>
			タイトルと内容はどっちかだけでも構いませんが、タイトルがないと、前のページの連絡事項のところに変な文字列が出てくるかもしれないです。<br>
			また、[練習]をタップすればカテゴリの変更も行うことができます。<br>
			全てを編集し終わったら必ず保存を押してください。(じゃないと保存されません）<br>
			<img src="/assets/page5.png" style="width:70%;"><br>
			ここで変更したタイトルは一つ前の連絡事項とカレンダーでもみることができます。<br>
			<img src="/assets/page6.png" style="width:70%;"><br>
			<img src="/assets/page7.png" style="width:70%;"><br>
		</p>
	</div>
	<div class="hp">
		<br>
		<br>
		<br>
		<p>
			その他わからないところや不具合がありましたらユーミンにお伝えください。<br><br>
			みのり
		</p>
	</div>
</main>